@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #e5e3e0;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.cutout-title {
  position: relative;
  padding-top: 2rem;
}

.cutout-title::before {
  content: attr(data-title);
  position: absolute;
  top: -0.9rem;
  left: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.cutout-title::after {
  content: attr(data-right-title);
  position: absolute;
  top: -0.9rem;
  right: 1rem;
  background: #1a1a1a;
  padding: 0 0.5rem;
  z-index: 10;
}

.border-box {
  border: 2px solid #414649;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem;
  position: relative;
  transition: border-color 0.5s ease;
}
